@{
    ViewBag.Title = "About";
}
<form action="/Home/CategoryChosen" method="get">

    <fieldset>
        Film Turu Secin: <select id="MovieType" name="MovieType">


    <option value="0">Aksiyon</option>

    <option value="1">Drama</option>

    <option selected="selected" value="2">Komedi</option>

    <option value="3">Bilim Kurgu</option>
    <option value="4">Fantastik</option>
    <option value="5">Animasyon </option>
    <option value="6">Macera</option>


</select>

        <p><input type="submit" value="Submit" /> </p>

    </fieldset>

</form>
