@using MvcStok.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th> Kategori ID</th>
        <th> Kategori ADI</th>
        <th> Sil</th>
        <th> Guncelle</th>


    </tr>
    <tbody>
        @foreach(var ktgr in Model)
            {
                <tr>
                    <td> @ktgr.KATEGORIID</td>
                    <td> @ktgr.KATEGORIAD</td>
                    <td> <a href="/KATEGORI/Sil/@ktgr.KATEGORIID" class="btn btn-danger">Sil</a></td>
                    <td> <a href="/KATEGORI/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">Guncelle</a></td>


                </tr>
            }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}))
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a> 